<div class = "well">
	<div class = "name">개인정보수정</div>

	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= f.error_notification %>

	  <div class="inputs">
	    <%= f.input :email, :required => true, :autofocus => true %>
	    <%= f.input :password, :autocomplete => "off", :hint => "변경을 원하지 않으면 빈칸으로 남겨두세요", :required => false %>
	    <%= f.input :password_confirmation, :required => false %>
	    <%= f.input :current_password, :hint => "정보를 수정하려면 현재 비밀번호를 입력해주세요", :required => true %>
	  </div>
			<%= f.input :last_name,:label => '성' %>
			<%= f.input :first_name,:label => '이름' %>
		
			<%= f.input :avatar,:label => '본인사진' %>
	  <div class="actions">
	    <%= f.button :submit, "수정" %>
	  </div>
	<% end %>
</div>
<div class = "well">
	<div class = "name">탈퇴 하기</div>
	<p><%= link_to "계정을 삭제하려면 다음을 누르시오.", registration_path(resource_name), :confirm => "계정이 삭제됩니다. 계속하시겠습니까?", :method => :delete %>.</p>
</div>
