<% if user_signed_in? %>
	<div id ="commentform" class ="well">
		<table class="table">
			<tbody>			
				<tr>
					<td><%= profile_photo(current_user, :small, 60) %> </td>
					<%= form_for current_user.comments.build(:kit_id => kit.id), :validate => true, :remote => true do |f| %>
						<td><%= f.text_area :content, :rows => 3, :class => "comment-textarea", :id => "comment-content-textarea-#{kit.id}" %>
						<%= f.hidden_field :kit_id %></td>
						<div class="comment-button-box">
						<td><%= f.submit "댓글", :class => "comment-submit" %></td>
						</div>
					<% end %>
				</tr>
			</tbody>	
		</table>
	</div>
	

	
<% end %>
<div class="clear"></div>