
<% if user_signed_in? and current_user == comment.user %>
	<div id="comment-control">
		<%= link_to "x", comment, :confirm => "정말로 삭제하시겠습니까?", :method => :delete, :remote => true, :id => "comment-delete" %>
	</div>
<% end %>

<table class="table">
	<tbody>			
		<tr>
			<td><%= profile_photo(comment.user, :small, 60) %> </td>
			<td><%= link_to comment.user.email, comment.user %></td>
			<td><%= auto_link(comment.content.gsub(/\n/, "<br />").html_safe) %></td>
			<td>	<%= time_ago_in_words(comment.created_at) %> 전</td>
		</tr>
	</tbody>	
</table>

