<%= simple_form_for @badge, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
	<%= f.input :badgephoto%>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                badges_path, :class => 'btn' %>
  </div>
<% end %>
