<%= form_for @kit , :html => { :class => 'form-horizontal', :multipart => true  } do |f| %>
    <td><%= f.text_area :content, :label => "" %>
		<%= f.hidden_field :kitable_id %>
		<%= f.hidden_field :kitable_type %></td>
    <td><%= f.submit "댓글", :class => "btn btn-info" %></td>
<% end %>
