
<div id ="kit-item" class ="well">
<% if user_signed_in? and current_user == kit.user %>
	<div id ="kit-delete"><%= link_to "x", kit, confirm: 'Are you sure?', method: :delete %></div>
<% end %>
	<ul class = "display-inline-block">
		<li class ="kit-image"><%= link_to profile_photo(kit.user, :thumb, 80), kit.user  %></li>
		<li>
			<div><%= kit.user.nickname %></div>
	  	<div class="timestamp">
	    	<%= time_ago_in_words(kit.created_at) %> 전.
	  	</div>
		</li>
		<div class="content"><%= auto_link(kit.content.gsub(/\n/, "<br />").html_safe) %></div>
	</ul>

	<div id="comments_<%= kit.id %>">
		<% if kit.comments.count > 2 %>
			<div class="item-box comment-all"><i class="comment-icon"></i>
				<%= link_to "#{kit.comments.count}개의 댓글 모두 보기", "/kits/#{kit.id}/view_all_comments", :remote => true %> 
			</div>
			<%= render kit.comments.last(2) %>
		<% else %>
			<%= render kit.comments %>	
		<% end %>

	</div>
	<div class="comment-field">
		<%= render( :partial => "comments/comment_form", :locals => { :kit => kit }) %>	
	</div>

</div>

