<% if user_signed_in? and current_user == kit.user %>
	<div id="kit-control">

		<%= link_to 'Destroy', kit, confirm: 'Are you sure?', method: :delete %>
	</div>
<% end %>

<div class="item-box kit-item">
	<div class="item-left">
	
	</div>
	<div class="item-content">
		<div class="item-content-top">
			<h2>
				<%= link_to kit.user.email, kit.user %>
			</h2>

		</div>
		
		<p><%= auto_link(kit.content.gsub(/\n/, "<br />").html_safe) %></p>
		<div class="clear"></div>
	</div>		
</div>

<div id="comments_<%= kit.id %>">
	<% if kit.comments.count > 2 %>
		<div class="item-box comment-all"><i class="comment-icon"></i>
			<%= link_to "#{kit.comments.count}개의 댓글 모두 보기", "/kits/#{kit.id}/view_all_comments", :remote => true %> 
		</div>
		<%= render kit.comments.last(2) %>
	<% else %>
		<%= render kit.comments %>	
	<% end %>

</div>
<div class="comment-field">
	<%= render( :partial => "comments/comment_form", :locals => { :kit => kit }) %>	
</div>
