
<ul class = "display-inline-block">
	<li><%= profile_photo(@user, :large, 500) %></li>
	<li>
		<div class ="name"> <%= @user.email %></div>
		<div><a class="btn btn-warning" type="button" href="edit"><i class="icon-camera"></i></a></div>
	</li>
</ul>

<div id ="firstplayer" class ="well">
	<% firstplayers = @user.flags.all %>
	<div class ="name"> <%= firstplayers.length %>개의 <i class="icon-flag"></i> 선봉장이 되었습니다.</div>
	<% firstplayers.each do |firstplayer| %>
	
		<span class="flag-image">	<%= link_to flag_photo(firstplayer, :small), '#', :rel => "popover", :title => firstplayer.name, "data-content" => "#{firstplayer.date} "  %>
		</span>
	
	<% end %>
</div>

<div id ="flagplayer" class ="well">
	<% players =  @user.participations.all %>
	<div class ="name"><%= players.length %>개의 <i class="icon-flag"></i> 정상에 깃발을 꽂았습니다.</div>
	<% players.each do |player| %>
	
		<span class="flag-image">	<%= link_to flag_image(player, :small), '#', :rel => "popover", :title => player.flag.name, "data-content" => "#{player.flag.date} "  %>
		</span>
	<% end %>
</div>








<%= render 'kits/form' %>

<div id="kits">
	<%= render @kits %>
</div>