<% provide(:title, @user.korean_full_name) %>
<ul class = "display-inline-block">
	<li class = "img-round"><%= profile_photo(@user, :large, 500) %></li>
	<li>
		<div class ="user_name"> <%= @user.korean_full_name %> < Flag <%= @user.participations.length + @user.flags.length %>></div>
			<% if @user.facebook_uid %>
				<%= link_to "#{@user.korean_full_name} 님의 페이스북", "http://www.facebook.com/profile.php?id=#{@user.facebook_uid}", 
				:target => '_blank', :class => "item-link" %>
			<% end %>
			
			
		<% if admin_signed_in? or current_user == @user %>
			<div><%= link_to "사진 및 개인정보 수정", edit_user_path(@user)%></div>
		<% end %>
	</li>
</ul>

<div id ="firstplayer" class ="well">
	<div class ="user_name">뱃지</div>
	<ul class = "display-inline-block">
		<% if (@user.participations.length + @user.flags.length) > 2 %>
			<% if mobile_device? %>
				<li class="flag-image"><%= link_to badge_photo(Badge.find_by_id(2) ,:thumb), Badge.find_by_id(2) %></li>
			<% else %>
				<li class="flag-image"><%= link_to badge_photo(Badge.find_by_id(2) ,:small), Badge.find_by_id(2) %></li>
			<% end %>
		<% end %>
		<% provinces = province_badge?(@user) %>
		<% provinces.each do |province| %>
			<li class="flag-image"><%= link_to badge_photo(Badge.find_by_id(province) ,:small), Badge.find_by_id(province) %></li>
		<% end %>
		
	</ul>
</div>

<div id ="firstplayer" class ="well">
	<% firstplayers = @user.flags.all %>
	<% if firstplayers.length > 0 || @user != current_user%>
		<div class ="user_name"><i class="icon-flag"></i> 선봉장 < <%= firstplayers.length %> ></div>
			<ul class = "display-inline-block">
				<% firstplayers.each do |firstplayer| %>
					<% if mobile_device? %>
						<li class="flag-image">	<%= link_to flag_photo(firstplayer, :thumb), flag_path(firstplayer), :rel => "popover", :title => "#{firstplayer.name} < #{firstplayer.participations.length}명 >", "data-content" => "#{firstplayer.date.strftime("%Y년 %m월 %d일")} "  %>
					</li>
					<% else %>
						<li class="flag-image">	<%= link_to flag_photo(firstplayer, :small), flag_path(firstplayer), :rel => "popover", :title => "#{firstplayer.name} < #{firstplayer.participations.length}명 >", "data-content" => "#{firstplayer.date.strftime("%Y년 %m월 %d일")} "  %>
				</li>
					<% end %>
				<% end %>
			</ul>
	<% else %>
		<div class ="user_name"> <%= link_to "선봉장이 되어보세요.", new_flag_path %> </div>
	<% end %>
</div>

<div id ="flagplayer" class ="well">
	<% players =  @user.participations.all %>
	<% if players.length > 0 || @user != current_user%>
		<div class ="user_name"><i class="icon-flag"></i> 정상을 정복 <<%= players.length %>> </div>
			<ul class = "display-inline-block">
				<% players.each do |player| %>
					<% if mobile_device? %>
						<li class="flag-image">	<%= link_to flag_image(player, :thumb), flag_path(player.flag), :rel => "popover", :title => "#{player.flag.name} < #{player.flag.participations.length} 명 > ", "data-content" => "#{player.flag.date.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% else %>
						<li class="flag-image">	<%= link_to flag_image(player, :small), flag_path(player.flag), :rel => "popover", :title => "#{player.flag.name} < #{player.flag.participations.length} 명 > ", "data-content" => "#{player.flag.date.strftime("%Y년 %m월 %d일")} "  %>
					<% end %>
				<% end %>
			</ul>
		<% else %>
			<div class ="user_name"> <%= link_to "깃발을 꽂아보세요.", flags_path %> </div>
		<% end %>		
</div>

<div id ="flagplayer" class ="well">
	<% hikingplayers =  @user.hikingparticipations.all %>
	<% if hikingplayers.length > 0 || @user != current_user%>
		<div class ="user_name">망고마운틴에서 참여한 산행 <<%= hikingplayers.length %>> </div>
			<ul class = "display-inline-block">
				<% hikingplayers.each do |hikingplayer| %>
					<% if mobile_device? %>
						<li class="flag-image">	<%= link_to hiking_image(hikingplayer.hiking, :thumb), hiking_path(hikingplayer.hiking), :rel => "popover", :title => "#{hikingplayer.hiking.name} < #{hikingplayer.hiking.hikingparticipations.length}명 >   ", "data-content" => "#{hikingplayer.hiking.datetime.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% else %>
						<li class="flag-image">	<%= link_to hiking_image(hikingplayer.hiking, :small), hiking_path(hikingplayer.hiking), :rel => "popover", :title => "#{hikingplayer.hiking.name} < #{hikingplayer.hiking.hikingparticipations.length}명 >   ", "data-content" => "#{hikingplayer.hiking.datetime.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% end %>
				<% end %>
			</ul>
		<% else %>
			<div class ="user_name"> <%= link_to "등산모임에 참여해보세요.", hikings_path %> </div>
		<% end %>		
</div>

<table class="table">
	<thead>
		<tr>
			<th class ="name"><i class="icon-comment"></i></th>
			<th></th>
		</tr>
	</thead>
  <tbody>
     <tr>
			<td><%= profile_photo(current_user, :thumb, 80) %></td>
			<%= render 'kits/form' %>
     </tr>
  </tbody>
</table>

<div id="kits">
	<%= render @kits %>
</div>



 
