
<ul class = "display-inline-block">
	<li class = "img-round"><%= profile_photo(@user, :large, 500) %></li>
	<li class = "well" id="user_show_profile">
		<div class ="user_name">  < Flag <%= @user.participations.length + @user.flags.length %>> <% if @user.facebook_uid and current_user.facebook_connect %>
			<%= link_to image_tag('Facebook_icon.png'), "http://www.facebook.com/profile.php?id=#{@user.facebook_uid}", 
			:target => '_blank', :class => "item-link" %>
		<% end %></div>
		
		<% if @user.name_consent and !@user.korean_full_name.blank? %>
		
		성명 <div class ="name"><%= @user.korean_full_name %></div>
		<% end %>
		<% if @user.email_consent %>
		 이메일 <div class ="name" ><%= @user.email %></div>	
		<% end %>
		<% if @user.info_consent and !@user.favorite_mountain.blank? and !@user.introduce.blank?%>
			좋아하는 산 <div class ="name"><%= @user.favorite_mountain %></div>
			한마디 <div class ="name"><%= @user.introduce %></div>
		<% end %>
		
		
		<% if admin_signed_in? or current_user == @user %>
			<div ><%= link_to "사진 및 개인정보 수정", edit_user_path(@user), :class => 'btn btn-success'%></div>
		<% end %>
	</li>
</ul>

<div id ="firstplayer" class ="well">
	<div class ="user_name">뱃지</div>
	<ul class = "display-inline-block">
		<% if (@user.participations.length + @user.flags.length) > 2 %>
			<% if mobile_device? %>
				<li class="flag-image"><%= link_to badge_photo(Badge.find_by_id(1) ,:thumb), Badge.find_by_id(1) %></li>
			<% else %>
				<li class="flag-image"><%= link_to badge_photo(Badge.find_by_id(1) ,:small), Badge.find_by_id(1) %></li>
			<% end %>
		<% end %>
		<% provinces = province_badge?(@user) %>
		<% provinces.each do |province| %>
			<% province = Integer(province) + 1 %>
			<% if mobile_device? %>
				<li class="flag-image"><%= link_to badge_photo(Badge.find_by_id(province) ,:thumb), Badge.find_by_id(province) %></li>
			<% else %>
				<li class="flag-image"><%= link_to badge_photo(Badge.find_by_id(province) ,:small), Badge.find_by_id(province) %></li>
			<% end %>
		<% end %>
		
	</ul>
</div>

<div id ="firstplayer" class ="well">
	<% firstplayers = @user.flags.all %>
	<% if firstplayers.length > 0 || @user != current_user%>
		<div class ="user_name"><i class="icon-flag"></i> 선봉장 < <%= firstplayers.length %> ></div>
			<ul class = "display-inline-block">
				<% firstplayers.each do |firstplayer| %>
					<% if mobile_device? %>
						<li class="flag-image">	<%= link_to flag_photo(firstplayer, :thumb), flag_path(firstplayer), :rel => "popover", :title => "#{firstplayer.name} < #{firstplayer.participations.length}명 >", "data-content" => "#{firstplayer.date.strftime("%Y년 %m월 %d일")} "  %>
					</li>
					<% else %>
						<li class="flag-image">	<%= link_to flag_photo(firstplayer, :small), flag_path(firstplayer), :rel => "popover", :title => "#{firstplayer.name} < #{firstplayer.participations.length}명 >", "data-content" => "#{firstplayer.date.strftime("%Y년 %m월 %d일")} "  %>
				</li>
					<% end %>
				<% end %>
			</ul>
	<% else %>
		<div class ="user_name"> <%= link_to "선봉장이 되어보세요.", new_flag_path %> </div>
	<% end %>
</div>

<div id ="flagplayer" class ="well">
	<% players =  @user.participations.all %>
	
	<% if players.length > 0 || @user != current_user%>
		<div class ="user_name"><i class="icon-flag"></i> 정상을 정복 <<%= players.length %>> </div>
			<ul class = "display-inline-block">
				<% players.each do |player| %>
					<% if mobile_device? %>
						<li class="flag-image">	<%= link_to flag_image(player, :thumb), flag_path(player.flag), :rel => "popover", :title => "#{player.flag.name} < #{player.flag.participations.length} 명 > ", "data-content" => "#{player.flag.date.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% else %>
						<li class="flag-image">	<%= link_to flag_image(player, :small), flag_path(player.flag), :rel => "popover", :title => "#{player.flag.name} < #{player.flag.participations.length} 명 > ", "data-content" => "#{player.flag.date.strftime("%Y년 %m월 %d일")} "  %>
					<% end %>
				<% end %>
			</ul>
		<% else %>
			<div class ="user_name"> <%= link_to "깃발을 꽂아보세요.", flags_path %> </div>
		<% end %>		
</div>

<div id ="flagplayer" class ="well">
	<% hikingplayers =  @user.hikingparticipations.all %>
	<% makers = @user.hikings.all %>
	<% if hikingplayers.length > 0 || @user != current_user || makers.length > 0 %>
		<div class ="user_name">망고마운틴에서 참여한 산행 <<%= hikingplayers.length %>> </div>
			<ul class = "display-inline-block">
				<% hikingplayers.each do |hikingplayer| %>
					<% if mobile_device? %>
						<li class="flag-image">	<%= link_to hiking_image(hikingplayer.hiking, :thumb), hiking_path(hikingplayer.hiking), :rel => "popover", :title => "#{hikingplayer.hiking.name} < #{hikingplayer.hiking.hikingparticipations.length}명 >   ", "data-content" => "#{hikingplayer.hiking.datetime.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% else %>
						<li class="flag-image">	<%= link_to hiking_image(hikingplayer.hiking, :small), hiking_path(hikingplayer.hiking), :rel => "popover", :title => "#{hikingplayer.hiking.name} < #{hikingplayer.hiking.hikingparticipations.length}명 >   ", "data-content" => "#{hikingplayer.hiking.datetime.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% end %>
				<% end %>
				<% makers.each do |maker| %>
					<% if mobile_device? %>
						<li class="flag-image">	<%= link_to hiking_image(maker, :thumb), hiking_path(maker), :rel => "popover", :title => "#{maker.name} < #{maker.hikingparticipations.length}명 >   ", "data-content" => "#{maker.datetime.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% else %>
						<li class="flag-image">	<%= link_to hiking_image(maker, :small), hiking_path(maker), :rel => "popover", :title => "#{maker.name} < #{maker.hikingparticipations.length}명 >   ", "data-content" => "#{maker.datetime.strftime("%Y년 %m월 %d일")} "  %>
						</li>
					<% end %>
				<% end %>
			</ul>
		<% else %>
			<div class ="user_name"> <%= link_to "등산모임에 참여해보세요.", hikings_path %> </div>
		<% end %>		
</div>

<table class="table">
	<thead>
		<tr>
			<th class ="name"><i class="icon-comment"></i></th>
			<th></th>
		</tr>
	</thead>
  <tbody>
     <tr>
			<td><%= profile_photo(current_user, :thumb, 80) %></td>
			<%= render 'kits/form' %>
     </tr>
  </tbody>
</table>

<div id="kits">
	<%= render @kits %>
</div>



 
