<table class="table table-striped">
  <thead>
    <tr>
			<th></th>
			<th></th>
    </tr>
  </thead>
  <tbody>
		<tr>
			<td><%= @user.email %></td>   
			<td><%= profile_photo(@user, :small, 100) %></td>
     </tr>
  </tbody>
</table>


<% players =  @user.participations.all %>
<% players.each do |player| %>
	<%= players.length %>
	<%= player.flag.name %>
	<%= player.flag.date %>
	
	<%= image_tag player.picture.url(:small)%>

<% end %>


<%= render 'kits/form' %>

<div id="kits">
	<%= render @kits %>
</div>