<% if user_signed_in? || admin_signed_in? %>
	<div id ="flagsuccess" class ="well">
		<% players =  @flag.participations.all %>
		<ul class = "display-inline-block">
			<% players.each do |player| %>
		
				<li class="flag-image">	<%= link_to flag_image(player, :small), player.user, :rel => "popover", :title => "#{player.user.korean_full_name} _ Flag #{player.user.participations.length + player.user.flags.length} ", "data-content" => "#{player.note} (#{player.date})"  %>
				</li>
		
			<% end %>
		</ul>
	</div>

  <% if !admin_signed_in?%>
    <% if  current_user.participates_in?(@flag) %>
		  <div class="alert alert-success"%>
         <a class="close" data-dismiss="alert">x</a>
				정상에 깃발을 꽂았습니다.
      </div>
			<%= link_to "취소", current_user.participations.find_by_flag_id(@flag.id), 
			:method => :delete, :remote => true, :confirm => "정말로 취소하시겠습니까?", :class => 'btn btn-danger' %>
		<% else %>
			<div id= "flagsuccessform" class = "well">				
				<%= simple_form_for current_user.participations.build(:flag_id => @flag.id), :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
					<div class ="name"><i class="icon-flag"></i> 꽂기</div>
					<%= f.hidden_field :flag_id %>
					<%= f.input :date, :label => "날짜",:use_month_numbers => true %>
					<%= f.input :note, :label => "한줄 소감" %>
					<%= f.input :picture, :label => "사진", :hint => "위의 사진을 참고로 하여 정상샷을 반드시 올려주세요 " %>
					
					<%= f.submit "꽂기", :class => "btn btn-info" %>
				<% end %>
			</div>	
	  <% end %>
  <% end %>
<% end %>