<div class = "episode">
	<div class = "shot">
		<% unless mobile_device? %>
			<%= image_tag flag.photo.url(:small) %>
		<% end %>	
	</div>
	<% if mobile_device? %>
		<div class = "mobile_main">
			<div class ="info"> Mango #<%= flag.id %> <%= flag.date %> (<%= Province.find_by_id(flag.province_id).name %>)</div>
			<div class ="name"> <%= link_to flag.name, flag_path(flag) %> </div> 
				<% if flag.description.split(/\n/)[2].nil? %>
					<div class ="description"><%= flag.description %></div>
				<% else %>
					<div class ="description"><%= flag.description.split(/\n/)[0, 2].push("...").join.gsub(/\r/, "<br />").html_safe %></div>
				<% end %>
			<% if admin_signed_in? or current_user == flag.user %>
	 	   <div>
		      <%= link_to '수정',
		                  edit_flag_path(flag), :class => 'btn btn-mini' %>
		      <%= link_to '삭제',
		                  flag_path(flag),
		                  :method => :delete,
		                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
		                  :class => 'btn btn-mini btn-danger' %>
		    </div>
			<% end %>
		</div>
	
	<% else %>
		<div class = "main">
			<div class ="info"> Mango #<%= flag.id %> <%= flag.date %> (<%= Province.find_by_id(flag.province_id).name %>)</div>
			<div class ="name"> <%= link_to flag.name, flag_path(flag) %> </div> 
				<% if flag.description.split(/\n/)[2].nil? %>
					<div class ="description"><%= flag.description %></div>
				<% else %>
					<div class ="description"><%= flag.description.split(/\n/)[0, 2].push("...").join.gsub(/\r/, "<br />").html_safe %></div>
				<% end %>
			<% if admin_signed_in? or current_user == flag.user %>
	 	   <div>
		      <%= link_to '수정',
		                  edit_flag_path(flag), :class => 'btn btn-mini' %>
		      <%= link_to '삭제',
		                  flag_path(flag),
		                  :method => :delete,
		                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
		                  :class => 'btn btn-mini btn-danger' %>
		    </div>
			<% end %>
		</div>
	<% end %>
</div>