
<%= form_tag flags_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "검색", :name => nil %>
  </p>
<% end %>

<div class="displays">
	<%= render @flags %>
</div>
<%= paginate @flags %>
<%= link_to '새로만들기',
            new_flag_path,
            :class => 'btn btn-primary' %>

