<div class ="center"> <%= image_tag @flag.photo.url(:large) %><br></br>

	<table class="table">
	  <tbody>
	      <tr>
					<td> <div class ="name"> <%= @flag.name %> 	</div> </td>
	        <td><%= profile_photo(@flag.user, :small, 80) %></td>
					<td><div>FLAG #<%= @flag.id %> / <%= @flag.date.strftime("%Y년 %m월 %d일") %> / <%= @flag.location %></div></td>
	      </tr>
	  </tbody>
	</table>
</div>

<div class ="well"><%= @flag.description.gsub(/<\/?.*?>/, "").html_safe %></div>

<div id="flag-participate"> 
	<%= render 'flag_participate' %>
</div>

<table class="table">
	<thead>
		<tr>
			<th class ="name"> 댓글  </th>
			<th></th>
		</tr>
	</thead>
  <tbody>
     <tr>
			<td><%= profile_photo(current_user, :small, 80) %></td>
			<%= render 'kits/form' %>
     </tr>
  </tbody>
</table>

<div id="kits">
	<%= render @kits %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              flags_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_flag_path(@flag), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              flag_path(@flag),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
