<% if user_signed_in? || admin_signed_in? %>
	<div id ="hikingparticipants" class="well">
		<% players =  @hiking.hikingparticipations.all %>
			<ul class = "display-inline-block">
				<% players.each do |player| %>
		
				<li class="flag-image">	<%= link_to profile_photo(player.user, :thumb, 50), player.user, :rel => "popover", :title => player.user.korean_full_name, "data-content" => "Flag #{player.user.participations.length + player.user.flags.length} "  %>
				</li>
		
				<% end %>
			</ul>
		</div>
		
  <% if !admin_signed_in? and !(current_user.id == @hiking.user_id) %>
    <% if  current_user.hikingparticipates_in?(@hiking) %>
		  <div class="alert alert-success"%>
         <a class="close" data-dismiss="alert">x</a>
			 	참여했습니다.
      </div>
			<%= link_to "취소", current_user.hikingparticipations.find_by_hiking_id(@hiking.id), 
			:method => :delete, :remote => true, :confirm => "정말로 취소하시겠습니까?", :class => 'btn btn-danger' %>
		<% else %>
			<% if @hiking.hikingparticipations.length < @hiking.limit and (Time.now - @hiking.datetime) < 0 %>
				<div>				
					<%= form_for current_user.hikingparticipations.build(:hiking_id => @hiking.id), :html => { :multipart => true } do |f| %>
						<%= f.hidden_field :hiking_id %>
						<%= f.submit "참여하기", :class => "btn btn-info" %>
					<% end %>
				</div>
			<% elsif @hiking.hikingparticipations.length >= @hiking.limit and (Time.now - @hiking.datetime) < 0 %>
				<div>  정원 초과 입니다. </div>
			<% else%>
				<div> 종료된 산행 입니다. </div>
			<% end %>	
	  <% end %>
  <% end %>
<% end %>