
<div class = "episode">
	<div class = "shot"><%= image_tag hiking.hikingphoto.url(:small) %></div>
	<div class = "main">
		<div class ="hikingname"> <%= hiking.name %> 
			<% if (Time.now- hiking.datetime) < 0 and (hiking.hikingparticipations.length < hiking.limit) %>
				<a class="btn btn-warning" href="hikings/<%= hiking.id %>"><i class="icon-leaf"></i> 대기</a>
			<% elsif  (Time.now- hiking.datetime) < 0 and (hiking.hikingparticipations.length >= hiking.limit) %>
				<a class="btn btn btn-success" href="hikings/<%= hiking.id %>"><i class="icon-user"></i> 인원초과</a>
			<% else %>
				<a class="btn btn-danger" href="hikings/<%= hiking.id %>"><i class="icon-time"></i> 종료</a>
			<% end %>
			
		</div> 
		<div> 출발 일시 : <%= hiking.datetime.strftime("%Y-%m-%d %H:%M") %> (<%= Province.find_by_id(hiking.province_id).name %>)</div>
		<div>출발 장소 : <%= hiking.location %></div>
		<div>회비 : <%= number_with_delimiter(hiking.money) %></div>
		<div>최대 인원 : <%= hiking.hikingparticipations.length %>/<%= hiking.limit %></div>
		<div>준비물 &  비고 : <%= hiking.description.gsub(/<\/?.*?>/, "<br>").html_safe %></div>

		<% if admin_signed_in? or current_user == hiking.user %>
	    <div>
	      <%= link_to '수정',
	                  edit_hiking_path(hiking), :class => 'btn btn-mini' %>
	      <%= link_to '삭제',
	                  hiking_path(hiking),
	                  :method => :delete,
	                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	                  :class => 'btn btn-mini btn-danger' %>
	    </div>
		<% end %>
	</div>
</div>




