
<div class = "episode">
	<div class = "shot"><%= image_tag progress_table.hikingphoto.url(:small) %></div>
	<div class = "main">
		<div class ="name"> <%= progress_table.name %> </div> 
		<div class ="description"><div> 출발 일시 : <%= progress_table.datetime.strftime("%Y-%m-%d %H:%M") %> (<%= Province.find_by_id(progress_table.province_id).name %>)</div>
		<div>출발 장소 : <%= progress_table.location %></div>
		<div>회비 : <%= number_with_delimiter(progress_table.money) %></div>
		<div>최대 인원 : <%= progress_table.hikingparticipations.length %>/<%= hiking.limit %>
		<div>준비물 &  비고 : <%= progress_table.description.gsub(/<\/?.*?>/, "").html_safe %></div></div>


    <div>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_hiking_path(progress_table), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  hiking_path(progress_table),
                  :method => :delete,
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-mini btn-danger' %>
    </div>
	</div>
</div>
<% end %>



