<% provide(:title, @hiking.name) %>
<div class ="center"> <%= image_tag @hiking.hikingphoto.url(:large) %> 

	<table class="table">
	  <tbody>
	      <tr>
					<td> <div class ="name"> <%= @hiking.name %> 	</div> </td>
	        <td><%= link_to profile_photo(@hiking.user, :small, 80), @hiking.user %></td>
					<td>
					
						
					</td>
	      </tr>
	  </tbody>
	</table>
</div>
<div class ="well"  id ="hiking_description">
	<div> 출발 일시 : <%= @hiking.datetime.strftime("%Y년 %m월 %d일 %H시 %M분") %> (<%= Province.find_by_id(@hiking.province_id).name %>)</div>
	<div>출발 장소 : <%= @hiking.location %></div>
	<div>회비 : <%= number_with_delimiter(@hiking.money) %></div>
	<div>모집 최대 인원 : <%= @hiking.hikingparticipations.length %>/<%= @hiking.limit %></div>
	준비물 &  비고 <br>	<div><%= @hiking.description.gsub(/\n/, "<br />").html_safe %></div>
</div>

<div class ="name"><i class="icon-user"></i> 참가합니다. (<%= @hiking.hikingparticipations.length %>/<%= @hiking.limit %>)</div>

<div id="hiking-participate"> 
	<%= render 'hiking_participate' %>
</div>


<table class="table">
	<thead>
		<tr>
			<th class ="name"><i class="icon-comment"></i></th>
			<th></th>
		</tr>
	</thead>
  <tbody>
     <tr>
			<td><%= profile_photo(current_user, :thumb, 80) %></td>
			<%= render 'kits/form' %>
     </tr>
  </tbody>
</table>




<div id="kits">
	<%= render @kits %>
</div>
<%= paginate @kits %>


<% if admin_signed_in? %>
	<div class="form-actions">
	  <%= link_to t('.back', :default => t("helpers.links.back")),
	              hikings_path, :class => 'btn'  %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_hiking_path(@hiking), :class => 'btn' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	              hiking_path(@hiking),
	              :method => 'delete',
	              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	              :class => 'btn btn-danger' %>
	</div>
<% end %>
